.h2Div {
    display: flex;
    justify-content: space-around;
}
.buttonDiv {
    display: flex;
    justify-content: space-around;
}

.colorBox {
    width: 500px;
    height: 500px;
    background-color: black;
    display: flex;
    margin: auto;
    margin-top: 50px;
}

body h1 {
    text-align: center;
}